#mywork-all {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mywork-title {
  width: 80%;
  margin-top: 30px;
}

.mywork-carou-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mywork-carou {
  background-color: greenyellow;
  height: 500px;
}

.carousel-container {
  width: 100%;
  height: 100%;
}

.car-test {
  background-color: red;
  height: 300px;
  width: 300px;
}
